<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% if user.is_authenticated %}
      <span class="hello-msg" style="color: red; margin-right: 9px; margin-top: 8.5px;">Hello, {{ request.user }} </span>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'logout' %}">Logout</a>
      {% if user.is_authenticated and user.is_staff %}
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'admin:index' %}">Админка</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'user_create' %}">Добавить пользователя</a>
      {% endif %}
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'user_list' %}">Список</a>
      {% else %}
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'login' %}">Login</a>
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'register' %}">Register</a>
      {% endif %}

    </div>
  </div>
</nav>